<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="阅读英语,读书,讨论,聊天,评论,段落评论,英语,翻译">
    <title>read-talk</title>

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/read.js"></script>
</head>
<body>
<div class="page-home text-center">
    <div class="hero">
        <div class="hero-body">
            <h1>read-talk</h1>
            <div class="loading loading-lg d-hide p-2"></div>
            <div id="search-results"></div>
        </div>
    </div>
</div>
</body>
</html>